<div class="fb-like-box">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FLets-listen-to-the-music%2F254474094596896&amp;width=280&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true&amp;height=290" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:280px; height:200px;" allowTransparency="false"></iframe>
</div>