<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?34"></script>

<!-- VK Widget -->
<div id="vk-community-widget"></div>
<script type="text/javascript">
    VK.Widgets.Group("vk-community-widget", { mode: 0, width: "280", height: "200" }, 30780046);
</script>